<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">

      <input type="text" class="form-control mb-3" [(ngModel)]="carName" placeholder="Введите название машины" required>
      <input type="text" class="form-control" [(ngModel)]="colorCar" placeholder="Введите цвет машины" required>

      <hr>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary" (click)="loadCars()">Показать машины</button>
        <button class="btn btn-success" (click)="addCar()">Добавить машину</button>
      </div>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let car of cars">
          <span class="badge badge-secondary" [ngStyle]="{background: car.color}">
            {{car.id}}
          </span>
          {{car.name}}
          <button class="btn btn-xs btn-info" (click)="setNewColor(car)">Изменить цвет</button>
          <button class="btn btn-xs btn-danger" (click)="deleteCar(car)">Удалить машину</button>
        </li>
      </ul>
    </div>
  </div>
</div>


